<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sung2063.tableau_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TableauProjectSample">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PieGraphActivity"
            android:label="Pie Bar Graph"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LinearProgressActivity"
            android:label="Linear Progress Bar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DotProgressActivity"
            android:label="Dot Progress Bar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VotingGraphActivity"
            android:label="Voting Graph"
            android:screenOrientation="portrait" />
    </application>

</manifest>